/* CSS Overrides */

#header .logo {
border: 0 none;
}

/* New CSS */

.ipwp-logo {
height: 100%;
border-radius: 100%;
}

.ipwp-justify-content {
text-align: justify;
}

.ipwp-work-bold-text {
font-weight: bold;
color: #F99E4F;
}
.ipwp-work-sub-titles {
font-weight: bold;
margin: 0 0 5px;
}
.ipwp-contentpage-span-space {
margin: 0 0 0 20px;
}

.ipwp-intro-text {
text-transform: none !important;
line-height: 1em !important;
margin: 0 13% 10px;
}

@media only screen and (max-width: 600px) {
.ipwp-intro-text {
margin: 0 0 10px;
line-height: 1.3em !important;
}
}






.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}